{{template "base" .}}

{{define "content"}}

  <h1>this is about page1</h1>
   <p> this is some text </p>
   <p> this is some text </p>

   <p> this came from the template:{{index .StringMap "test"}}</p>

  <p>

     {{ if ne (index .StringMap "remote_ip") ""}}
    your remote Ip address is {{index .StringMap "remote_ip"}}

    {{else}}

     I dont know ip address yet. visit the <a href="/"> Homepage</a>. So I can get it.
    {{end}} 

  </p>



{{end}}